/* @import "./base.css"; */
body {
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ebf4f5 0%, #b5c6e0  100%);
  background: -moz-linear-gradient(90deg, #ebf4f5 0%, #b5c6e0  100%);
  /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F86CA7", endColorstr="#F4D444", GradientType=1); */
}

.control-panel {
  background-color: #f8f9fa;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.control-panel * {
  margin: 10px;
}

.floating-window {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 2;
  left: 50%;
  min-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.menu-nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background-color: rgba(232, 204, 255, 0.111);
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-btn{
  max-width: 300px;
  background-color: #43eaaa;
}