/* @import "./base.css"; */

.control-panel {
  background-color: #f8f9fa;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.control-panel * {
  margin: 10px;
}

.floating-window {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 2;
  left: 50%;
  min-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}